* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    background-color: rgb(0, 162, 255);
    font-size: 30px;
}

header h2 {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header a {
    color: black;
}

main {
    margin: 10px;
}


/* index */

main nav {
    margin-top: 100px;
    font-size: 26px;
    list-style: none;
}

.arrow {
    vertical-align: middle;
    float: right;
}

main nav li {
    border-bottom: solid black 1px;
    ;
}

main nav a {
    text-decoration: none;
    color: black
}


/* boka */

#calendar {}